@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap');
* {
  margin: 0;   
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body,
html {
	max-width: 100%;
	scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
	background-color: rgba(0, 0, 0, 0.0);
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Abril Fatface', cursive;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-family: 'Open Sans Condensed', sans-serif;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

@keyframes fade-slide-up {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
	transform: translateY(-30px);
  }
  50% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 1;
	transform: none;
  }
}

.taustavideo {

	display: grid;
	justify-items: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}

.taustavideo video {
	
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	transform: translateX(-50%) translateY(-50%);
	opacity: 1;
}


::selection {
	background: #000000;
}

a {
	text-decoration: none;
	color: inherit;
}

a:visited {
	text-decoration: none;
}

a:hover {
	background-color: none;
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.container {
  width: 100%;
  height: 100%;
}

.square {
  position: fixed;
}

.square-1 {
  width: 60%;
  margin-left: 20%;
  top: 33%;
}

.square-2 {
  width: 60%;
  margin-left: 20%;
  top: 33%;
}

.logo {
  display: block;
  position: fixed;
}

.square-1  {
	
	-webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.2));

}

.square-2  {
	
	-webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.2));

}



.text {
	position: absolute;
	display:inline-block;
	background-color: rgba(0,0,0,0.9);
	overflow:hidden;
	top: 100vh;
	left: 0%;
	width: 100%;
}

.text2 {
	text-align: center;
}

.text-p {
	top: 100vh;
	width: 75%;
	margin-left: 12%;
}


.copyright {
	position: relative;
	top: 100%;
	text-align: center;
}

.alas {
  position: absolute;
    bottom: 2vh;
    left: 0;
    right: 0;
	text-align: center;
	z-index: 10;
}

.alas img {
  animation: fade-slide-up 0.5s 0.5s ease-out forwards,
             pulse 3s 2s ease-out infinite;
  opacity: 0;
}


h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 120px;
	line-height: 1;
	font-weight: 600;
	display: block;
	color: rgba(255, 255, 255, 1.0);
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	line-height: 4;
	font-weight: 800;
	display: block;
	color: rgba(255, 255, 255, 1.0);
}

h3 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 20;
	line-height: 1;
	font-weight: 100;
	display: inline-block;
	color: rgba(255, 255, 255, 1.0);
}

p {
	text-align: left;
	left: 50%;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	line-height: 1;
	font-weight: 200;
	display: block;
	color: rgba(255, 255, 255, 1.0);
}

p2 {
	text-align: center;
	left: 50%;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	line-height: 1;
	font-weight: 600;
	display: block;
	color: rgba(255, 255, 255, 1.0);
}

