@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;   
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body,
html {
	scroll-behavior: smooth;
	max-width: 100%;
	scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
	background-color: rgba(240, 240, 240, 1.0);
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

::selection {
	background: #191919;
	color: #e6e6e6;
}

a {
	text-decoration: none;
	color: inherit;
}

a:visited {
	text-decoration: none;
}

a:hover {
	background-color: none;
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.taustavideo {

	display: grid;
	justify-items: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.taustavideo video {
	
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	transform: translateX(-50%) translateY(-50%);
	opacity: 0.8;
}

.grain {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("grain.gif");
    opacity: 0.05;
	z-index: -1;
	}

.intro{
	background-color: rgba(240, 240, 240, 1.0);
	position: absolute;
	top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  height: 90vh;
}

.content{
	background-color: rgba(240, 240, 240, 1.0);
	position: absolute;
	top: 200vh;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  height: 100vh;
}


.otsikko {
	color: rgba(57, 204, 204, 1.0);
	text-align: left;
letter-spacing: 0.6rem;
  font-family: 'Roboto', sans-serif;
  font-size: 4vw;

}

.tehoste {
	color: rgba(44, 47, 50, 1.0);
	font-weight: bold;
text-align: left;
letter-spacing: 0.5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;

}

h1{
	line-height: 1.4;
	font-weight: 600;
	color: rgba(44, 47, 50, 1.0); 
text-align: left;
letter-spacing: 0.4rem;
  font-family: 'Roboto', sans-serif;
  font-size: 4vw;
  margin: 10%;
}

h2{
	line-height: 1.5;
	font-weight: 400;
	color: rgba(44, 47, 50, 1.0); 
text-align: left;
letter-spacing: 0.4rem;
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  margin: 10%;
}